extends ./layout
block content
    script(src="./js/dukkanlar.js")
    div(class="container mt-3")
        h2 Çarşı Bölgesi Dükkanları - İletişim Bilgileri
        p Aşağıdaki kutudan aradığınız dükkan ya da mağazanın telefon numarasını filtreleyebilirsiniz.
        input(class="form-control",id="dukkanSearch",type="text",placeholder="Ara..")
        br
        ul(class="list-group",id="dukkanList")
            each value,index in data.dukkanlar
                li(class="list-group-item")
                    div(class="row contact-item-container")
                        div(class="col-6")=value.name
                        div(class="col-6 text-right")
                            a(href="tel:#{value.phone}")=value.phone