script (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K5W3RGX');
title= title
meta(name="title",content= title)
meta(name="description",content= description)
meta(name="keywords",content= keywords)
meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1")
link(rel='apple-touch-icon', sizes='57x57', href='./images/fav/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='./images/fav/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='./images/fav/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='./images/fav/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='./images/fav/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='./images/fav/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='./images/fav/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='./images/fav/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='./images/fav/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='./images/fav/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='./images/fav/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='./images/fav/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='./images/fav/favicon-16x16.png')
link(rel='shortcut icon',href='./images/fav/favicon.ico')
link(rel='manifest', href='/manifest.json')
link(rel='canonical',href= canonical)
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')
meta(name="google-site-verification",content="oyx_p5u3YrCfWEjDBU6fIXetkI1Wr_Ebml52fH7wEuU")
meta(property="og:title",content= title)
meta(property="og:description",content= description)
meta(property="og:url",content= canonical)
meta(property="og:image",content='http://www.myworldeurope.net/images/fav/favicon-96x96.png')
link(rel="stylesheet",href="./stylesheets/bootstrap.min.css")
link(rel="stylesheet",href="./stylesheets/style.css")
script(src="./js/jquery.min.js")
script(src="./js//popper.min.js")
script(src="./js/bootstrap.min.js")
script(src="./js/main.js")
