doctype html
html
  head
    include ./head.jade
  body
    nav(class="navbar navbar-expand-lg bg-dark navbar-dark")
      a.navbar-brand(style="color:#fff") My World Europe
      |     
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      |   
      |     
      #navbarSupportedContent.collapse.navbar-collapse
        - var pages = ["Anasayfa","Servisler", "İETT", "Dükkanlar","Yönetim","Teknik","Güvenlik","Sosyal","Önerileriniz"]
        - var links = ["./","./servisler","./iett","./dukkanlar","./yonetim","./teknik","./guvenlik","./sosyal","./onerileriniz"]
        ul.navbar-nav.ml-auto

          -each page,index in pages
            li.nav-item
              if page == title
                a.nav-link.active(href='#')= page
                  span.sr-only (current)
              else
                a.nav-link(href=links[index])= page
                
    main(class="container text-center",style="margin-top:30px")   
      block content

    include ./footer.jade