/* Remove the navbar's default margin-bottom and rounded borders */ 

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.customh1 {
  padding: 0;
  text-decoration: none;
  font-weight: 400;
  margin: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #555;
  color: white;
}

.footer p{
  margin:0;
  padding:0;
  text-align: left;
  font-size: small;
}

.row{
  padding-top: 1.5rem;
}

.card{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.menuicon{
  width: 110px;
  height: 110px;
  margin-bottom: 1rem;
}

.card h5{
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  width:100%;
  text-align: center;
}

.navbar-brand-centered{
  width: 100%;
  text-align:center;
}

.navbar-brand-resizable{
  width: 100%;
  text-align:right;
}

@media screen and (min-width:768px){
  .navbar-brand-resizable {
      text-align: center;
  }
}


/* Icon 3*/

.animated-icon3 span:nth-child(1) {
  top: 0px;
}

.animated-icon3 span:nth-child(2), .animated-icon3 span:nth-child(3) {
  top: 10px;
}

.animated-icon3 span:nth-child(4) {
  top: 20px;
}

.animated-icon3.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon3.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.list-group-horizontal{
  padding: 0;
  padding-top:8px;
}

.list-group-horizontal .list-group-item {
	display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:0px;
	margin-right: 0;
 	border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
	border-right-width: 1px;
}

.list-group-item{
  border: 0px;
  background: #f9f9f9;
}

.list-group-item:nth-child(odd){
  background:#f5f5f5;
}

.contactForm{
  margin: 0 auto;
  max-width: 500px;
  min-width: 303px;
}

main.container{
  padding-bottom:30px;
}

.msg-error {
  color: #c65848;
  font-size: 80%;
}
.g-recaptcha.error {
  border: solid 1px #c64848;
  padding: .2em;
  width: 164px;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f068";
  float: right; 
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067"; 
}

.dukkan-item-container{
  padding: 0;
}