<div class="col-12 col-lg-10 margin-center contactForm">
    <p>Aşağıdaki formu kullanarak bize ulaşabilir, öneride ya da şikayette bulunabilirsiniz. 
    </p>
    <form id="contactForm" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="name">Ad Soyad</label>
            <input type="text" class="form-control" id="name" required>
            <div class="invalid-feedback">Lütfen adınızı ve soyadınızı giriniz.</div>
        </div>
        <div class="form-group">
            <label for="email">E-posta</label>
            <input type="email" class="form-control" id="email" required>
            <div class="invalid-feedback">Lütfen size dönüş yapabileceğimiz bir e-posta adresi giriniz.</div>
        </div>
        <div id="recaptcha" class="g-recaptcha" data-sitekey="6LdsfWQUAAAAAEMVab4IFbRQThX79ZXVhAu9yZLk" data-size="compact"></div>
        <span class="msg-error error"></span>
        <div class="form-group">
            <label for="message">Mesajınız</label>
            <textarea maxlength="400" class="form-control" id="message" rows="3" required></textarea>
            <div class="invalid-feedback">Lütfen mesajınızı giriniz.</div>
        </div>
        <button type="submit" disabled="disabled" class="btn btn-primary">Submit</button>
    </form>
</div>